/* CUSTOM STORY STYLE */


.section

    &__hed
        max-width $column-width
        margin 0 auto
        font-size 14px
        font-family $serif
        font-weight 200
        color $dark-gray
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale       
        text-align justify 

.prose_body
        max-width $column-width
        margin 0 auto
        font-size 14px
        font-weight 200
        color $gray
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale       
        text-align justify         

.prose_body a
        color $gray
        border-bottom 1px solid $gray
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale       
        text-align justify


.prose__hed
    color $gray