</div>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
</br>
<p class='section__hed'>{{copy.mainHed}}</p>
<div id='perspective-scroll'>
    <div id='vis' class='scroll__graphic'>
        <iframe class="dash-app" src="https://imsdb-timeline-agg.herokuapp.com/"></iframe>
        <br>
        <br>
        <p class='prose_body'>
        In the early days of cinematography, directors and screenwriters were more reluctant to use swear words in their movies.
        Perhaps the audience was less liberal at the time. Perhaps the filmakers were occupied enough to impress by ever-improving camera techniques. 
        Relatively lower number of titles produced each year also pushed them to make films for wider audience. 
        The change came with the 70' masterpieces like Patton (1970), One Flew Over the Cuckoo's Nest (1975) or The Deer Hunter (1978). During this period, 
        the production costs increased and the best actors started to choose their roles based on the screenplays. The scripts slowly changed towards more
        realistic dialogues and a literary writing style.
        <br>
        With the rising popularity of crime movies in the 90s, directors started to use swear words without any shame. Some of them like Tarantino
        or Scorsese even built their brands on the way they use foul language. Both the audience and critics welcomed the trend and movies
        like Casino, Goodfellas, Pulp Fiction or Reservoir Dogs turned into cult classics. Today, foul language appears in many mainstream movies
        and is accepted well when used in the right way.
        <br>
        In fact, some of them made it to the pinnacle of any film success - the Academy Awards. The Oscar-winning piece with most swear words ever shot
        is by far Scorsese's The Departed, which uses 244 bad words throughout its 2 hour and 31 minutes long runtime. The only other Oscar movie with 
        more than a hundred swear words is Platoon from 1986. The rest of the biggest 'contenders' are mostly 21st century movies like Birdman (2014), 
        Moonlight (2016), Crash (2004) and The Hurt Locker (2009).
        </p>
        <br>
        
        <div class='graphic__chart'>
            <svg>
                <g class='g-axis'>
                    <g class='axis axis--x'></g>
                    <g class='axis axis--y'></g>
                </g>
                <g class='g-vis'>
                    <g class='movies'></g>
                </g>
            </svg>
        </div>
        </br>
        <p class='prose_body'>
        In the early days of cinematography, directors and screenwriters were more reluctant to use swear words in their movies.
        Perhaps the audience was less liberal at the time. Perhaps the filmakers were occupied enough to impress by ever-improving camera techniques. 
        Relatively lower number of titles produced each year also pushed them to make films for wider audience. 
        The change came with the 70' masterpieces like Patton (1970), One Flew Over the Cuckoo's Nest (1975) or The Deer Hunter (1978). During this period, 
        the production costs increased and the best actors started to choose their roles based on the screenplays. The scripts slowly changed towards more
        realistic dialogues and a literary writing style.
        <br>
        With the rising popularity of crime movies in the 90s, directors started to use swear words without any shame. Some of them like Tarantino
        or Scorsese even built their brands on the way they use foul language. Both the audience and critics welcomed the trend and movies
        like Casino, Goodfellas, Pulp Fiction or Reservoir Dogs turned into cult classics. Today, foul language appears in many mainstream movies
        and is accepted well when used in the right way.
        <br>
        In fact, some of them made it to the pinnacle of any film success - the Academy Awards. The Oscar-winning piece with most swear words ever shot
        is by far Scorsese's The Departed, which uses 244 bad words throughout its 2 hour and 31 minutes long runtime. The only other Oscar movie with 
        more than a hundred swear words is Platoon from 1986. The rest of the biggest 'contenders' are mostly 21st century movies like Birdman (2014), 
        Moonlight (2016), Crash (2004) and The Hurt Locker (2009).
        </p>
        <iframe class="dash-app" src="https://imsdb-words.herokuapp.com/"></iframe>
        </br>
    </div>  
    </br>
    <!-- Share buttons code -->
    <a class="twitter-share-button"
        data-size="small"
        data-url='{{meta.site}}'
        data-hashtags="dataviz"
        >Tweet
    </a>
    <div class="fb-share-button" 
        data-href='{{meta.site}}'
        data-layout="button_count" data-size="small"><a 
        target="_blank" 
        href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ftrendspotting.site%2F2020%2FApril%2Fmovies%2Findex.html&amp;src=sdkpreparse" 
        class="fb-xfbml-parse-ignore">Share</a>
    </div>
    </br>
</div>