<div id='methodology'>
    <div id='citations'>
        <h3 class='hed'>
            Data & Methodology:
        </h3>
        <p>
        The list of analysed movies reflects the <a href="https://www.boxofficemojo.com/chart/top_lifetime_gross_adjusted/?adjust_gross_to=2020" target="_blank">
        boxofficemojo's</a> chart of top grossing movies adjusted for inflation. Each movie has been analysed through subtitles publicly available for download 
        at <a href="https://www.yifysubtitles.com" target="_blank">yifysubtitles.com</a>. The webscraping and data handling processes were performed in Python,
        with the visualisations being developed in d3.js and Dash libraries. The charts are updated on a quarterly basis and all the code is available on
        <a href="https://github.com/kollmich/imsdb-web" target="_blank">github</a>.
        </p>
    </div>
</div>